body {
    font-family: 'Times New Roman', sans-serif; 
    background-color: rgb(236, 236, 255);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.main {
    text-align: center;
    margin-top: 20px;
}

.Input_Box {
    text-align: center;
    margin-bottom: 40px;
}

.User_Input_Box {
    font-family: 'Times New Roman', sans-serif; 
    font-size: large;
    background-color: rgb(236, 236, 255);
    border: 2px solid rgb(30, 30, 30); /* Define a border color */
    border-radius: 15px; /* Smaller radius for smoother corners */
    height: 40px;
    width: 750px;/* Reduced margin for better spacing */
    padding: 5px 10px; /* Added padding for better text spacing */
    box-sizing: border-box; /* Ensure padding doesn't affect total width */
}

.Submit_Button {
    font-family: 'Times New Roman', sans-serif; 
    font-size: large;
    color: rgb(236, 236, 255);
    background-color: rgb(30, 30, 30);
    margin-left: 15px ;
    height: 40px;
    width: 100px;
    border-radius: 20px; /* Slight rounding for consistency */
}
